body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hideOnDesktop{
  display: none;
}
img{
  border-radius: 0px;
}

@media screen and (max-width:768px) {
  .hideOnDesktop{
      display: block !important;
  }
  .hideOnMobile{
      display: none !important;
  }
}